<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Recommender</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AutocompleteServlet</servlet-name>
        <servlet-class>com.servlets.AutocompleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutocompleteServlet</servlet-name>
        <url-pattern>/AutocompleteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestSearchServlet</servlet-name>
        <servlet-class>com.servlets.TestSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestSearchServlet</servlet-name>
        <url-pattern>/TestSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoadScenariosServlet</servlet-name>
        <servlet-class>com.servlets.LoadScenariosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadScenariosServlet</servlet-name>
        <url-pattern>/LoadScenariosServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InsertScenarioServlet</servlet-name>
        <servlet-class>com.servlets.InsertScenarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertScenarioServlet</servlet-name>
        <url-pattern>/InsertScenarioServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InsertEvaluationServlet</servlet-name>
        <servlet-class>com.servlets.InsertEvaluationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertEvaluationServlet</servlet-name>
        <url-pattern>/InsertEvaluationServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EvalSearchServlet</servlet-name>
        <servlet-class>com.servlets.EvalSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EvalSearchServlet</servlet-name>
        <url-pattern>/EvalSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetScenarioServlet</servlet-name>
        <servlet-class>com.servlets.GetScenarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetScenarioServlet</servlet-name>
        <url-pattern>/GetScenarioServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InsertSurveyServlet</servlet-name>
        <servlet-class>com.servlets.InsertSurveyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertSurveyServlet</servlet-name>
        <url-pattern>/InsertSurveyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CloseSearchServlet</servlet-name>
        <servlet-class>com.servlets.CloseConnectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CloseSearchServlet</servlet-name>
        <url-pattern>/CloseSearchServlet</url-pattern>
    </servlet-mapping>
</web-app>
