<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Recommender</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>com.servlets.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.servlets.LoginRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.servlets.RegisterRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UsernameServlet</servlet-name>
        <servlet-class>com.servlets.Username</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsernameServlet</servlet-name>
        <url-pattern>/UsernameServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.servlets.SearchRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>IpServlet</servlet-name>
        <servlet-class>com.servlets.IpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IpServlet</servlet-name>
        <url-pattern>/IpServlet</url-pattern>
    </servlet-mapping>
</web-app>
